/* Algo {
   propiedad: valor;
} */
body { background-color: #fafafa;

}

article {
   width: 600px;
   margin: 2em auto;
   border: 1px solid #eeeeee;
   padding: 1.8em 2em;
   box-shadow: 0 10px 30px -15px rgba (0, 0, 0, 0.1)
}

h1 {
   font-size: 2.2em;
   color: black;
   font-family: sans-serif;
  }

  h2 {
   font-size: 2.6em;
   color: royalblue;
   font-family: 'Courier New', Courier, monospace;
  }

  h3 {
   font-size: 3em;
   color: skyblue;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  p {
   font-size: 1.2em;
   line-height: 1.8em;
   color: gray;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 2.6em;


span, time{
   font-family: sans-serif;
   margin-right: 2.6em;
   color: gray;
   font-weight: bold;
}

